.bg_move {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: repeating-radial-gradient(
      circle at 100% 100%,
      #f8c433ad 4%,
      #f9c94680 8%,
      #fb2307eb 8%,
      #69fb07c2 12%,
      #ff006fc9 12%,
      #ff006f43 16%,
      #8338ece6 16%,
      #8338eccc 20%,
      #3a85ff 20%,
      #3a85ffaf 24%
    ),

    repeating-radial-gradient(
      circle at 0% 100%,
      #ffbe0bb3 4%,
      #ffbe0be6 8%,
      #fb5607b3 8%,
      #fb5607e6 12%,
      #ff006eb3 12%,
      #ff006ee6 16%,
      #8338eccc 16%,
      #8338eccc 20%,
      #3a86ffcc 20%,
      #3a86ffcc 24%
    );

  background-size: 250px 250px;
  background-position: 0 0;
  /* -webkit-animation: stripes 3s linear infinite; */
  /* animation: stripes 2s linear infinite; */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.bg_move h1 {
    font-size: 3.5rem;
    font-family: sans-serif;
    margin: 15px 0 15px 20px;
}

.bg_move i {
  font-size: 5rem;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 6px;
  }
}

@-webkit-keyframes stripes {
  100% {
    background-position: 250px 0, 250px 0, 100px 0;
  }
}

@keyframes stripes {
  100% {
    background-position: 250px 0, 250px 0, 100px 0;
  }
}
